ADMINS= # String
APP_TOKEN= # Optional String
BOT_TOKEN= # String
BUGSINK_PROJECT_ID= # Optional Integer
BUGSINK_TOKEN= # Optional String
BUGSINK_URL= # Optional String
DB_URL= # String
DEV_CHANNEL= # String
DEV_CHANNEL_WEBHOOK= # String
HCAI_API_KEY= # String
KEEP_PORT_USAGE= # String
LOG_LEVEL= # Integer
MC_SHOPTRACK_WEBHOOK= # String
OPENPANEL_API_URL= # String
OPENPANEL_CLIENT_ID= # Optional String
OPENPANEL_CLIENT_SECRET= # Optional String
PGLITE= # Optional Boolean
PORT= # Integer
RAND_CHANNEL= # String
SENTRY_DSN= # String
SENTRY_NAME= # String
SIGNING_SECRET= # String
SLACK_ID_OWNER= # String
SOCKET_MODE= # Boolean
VIKUNJA_BUG_LABEL_ID= # Optional Integer
VIKUNJA_BUG_PROJECT_ID= # Optional Integer
VIKUNJA_FEATURE_LABEL_ID= # Optional Integer
VIKUNJA_FEATURE_PROJECT_ID= # Optional Integer
VIKUNJA_TOKEN= # Optional String
VIKUNJA_URL= # Optional String
