APP_TOKEN= # Optional String
BOT_TOKEN= # String
SIGNING_SECRET= # String
SOCKET_MODE= # Boolean
PGLITE= # Optional Boolean
DB_URL= # Optional String
KEEP_PORT_USAGE= # Optional Boolean
VIKUNJA_BUG_LABEL_ID= # Optional Integer
VIKUNJA_FEATURE_LABEL_ID= # Optional Integer
VIKUNJA_BUG_PROJECT_ID= # Optional Integer
VIKUNJA_FEATURE_PROJECT_ID= # Optional Integer
VIKUNJA_TOKEN= # Optional String
VIKUNJA_URL= # Optional String
BUGSINK_URL= # Optional String
BUGSINK_TOKEN= # Optional String
BUGSINK_PROJECT_ID= # Optional Integer
ADMINS= # Optional Strings, For Multiple do ADMINS=a,b,c For single just have ADMINS=a
LOG_LEVEL= # Optiona Defaults to Error 1 = Warning 2 = Trace 3 = Info 4 = Fatal 5 = Error 6 = Debug